.rechart > article > button {
    color: black;
}

.tab button {
    color: black;
}

.recharts-tooltip-label {
    color: black;
}

.recharts-tooltip-item-list {
    color: black;
}

.button-bar {
    display: flex;
    align-items: flex-start;
}

.button-bar > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 2px;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  background: #1C242D;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button-bar > button:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button-bar > button.active {
    background: #6E6D70;
}