* {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 14px;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;

    color: white;
    vertical-align: baseline;
}

body {
    background: #1C242D;
}

div, h1, small, dl, dd, dt, span {
    background: inherit;
}

article {
    background: #242F39;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
    border: 1px solid #242F39;
    border-radius: 1px;
    padding: 4px;
}

section header {
    font-size: 16px;
    color: white;
    position: relative;
    padding: 6px 4px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    overflow: hidden;
}

section header small {
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    margin-left: 4px;
    text-shadow: none;
}

table {
    border-spacing: 0;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}

tr {
    padding: 4px;
}

.red {
    color: #C23C2A !important;
    text-decoration: none;
}

.green {
    color: #A9CF54 !important;
    text-decoration: none;
}

.gold {
    color: #FBB829 !important;
}

.color-observer-ward {
    color: #F2CC67 !important;
}

.color-sentry-ward {
    color: #30BFD2 !important;
}

.scoreboard-size {
    max-height: 36px;
}

.r-table > tbody tr:nth-child(even) {
    background-color: rgba(255,255,255,0.04);
}

.r-table > tbody tr:hover, .teamscore-table > tbody tr:hover {
    background-color: rgba(208, 208, 208, 0.24) !important;
}