* {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 14px;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    background: #1C242D;
    color: white;
    vertical-align: baseline;
}

div, h1, small, dl, dd, dt, span tr td th {
    background: inherit;
}

article {
    background: #242F39;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
    border: 1px solid #242F39;
    border-radius: 1px;
    padding: 4px;
    clear: right;
}

section header {
    font-size: 16px;
    color: white;
    position: relative;
    padding: 6px 4px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    overflow: hidden;
}

section header small {
    color: rgba(255,255,255,0.6);
    font-size: 16px;
    margin-left: 4px;
    text-shadow: none;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}
