.Header {
    background-color: #242F39;
    vertical-align: top;
    position: relative;
    background: inherit;
}

.Header .inner-header {
    background: inherit;
    background-color: transparent;
    margin: 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header-profile-link {
    margin: 0;
}

.inner-header a {
    margin: 0;
}

.header-nav-logo {
    background: #ED3B1C;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 20px;
    margin: 0 8px 0 0;
    padding: 6px 8px;
    text-transform: uppercase;
    vertical-align: top;
}