@media only screen and (min-width: 768px) {
    /* For desktop */
    .most-played-heroes {
        width: 600px;
    }
}

.most-played-heroes > section, .most-played-heroes > section > article > table {
    width: 100%;
}

.r-row {
    background-color: rgba(255,255,255,0.1);
    padding: 5px 4px;
}

.r-body {
    display: flex;
    flex-direction: row;
}

.image-container.image-container-hero {
    display: flex;

}

.image-container-hero > img {
    margin: auto 15px;
}

.subtext.minor {
    background-color: transparent;
    margin: auto;
}

.subtext.minor p {
    font-size: 11px !important;
    font-weight: 200;
    color: rgba(255,255,255,0.6);
    padding-top: 2px;
    min-height: 14px;
    background-color: transparent;
}