
@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none
    }

    .item-thumbnail {
        max-width: 35px;
    }
}

@media only screen and (min-width: 768px) {
    div.hide-desktop {
        display: none;
    }

    .item-thumbnail {
        max-width: 40px;
    }
}


.teamscore-table {
    width: 100%;
}

.teamscore-table.The-Radiant > tbody tr:nth-child(odd){
    background-color: rgba(146,165,37,0.12);
}

.teamscore-table.The-Dire > tbody tr:nth-child(odd){
    background-color: rgba(194,60,42,0.12);
}



.inventory {
    display: flex;
    flex-direction: row;
}

.neutral-item {
    margin-right: 10px;
}

.neutral-item > img {
    border-radius: 50%;
}

.no-item {
    display: none;
}