
@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none
    }
}

.teamscore-table {
    width: 100%;
}

.teamscore-table.The-Radiant > tbody tr:nth-child(odd){
    background-color: rgba(146,165,37,0.12);
}

.teamscore-table.The-Dire > tbody tr:nth-child(odd){
    background-color: rgba(194,60,42,0.12);
}